.super-mario {
  width: 140px;
  position: absolute;
  left: 100px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 300px;
  left: 140px;
}

.word {
  font-size: 20px;
  position: absolute;
  right: 530px;
  z-index: 2;
  top: 100px;
}

.baloon {
  width: 300px;
  position: absolute;
  right: 470px;
  top: 60px;
  z-index: 1;
}

.bowser {
  width: 300px;
  position: absolute;
  right: 180px;
}
