/* Mouse over color */
div:nth-of-type(1) :hover {
  border: solid rgb(0, 0, 0);
  background-color: rgba(238, 233, 217, 0.966);
}
div:nth-of-type(2) :hover {
  border: solid rgb(255, 0, 0);
  background-color: rgba(238, 233, 217, 0.966);
}
div:nth-of-type(3) :hover {
  border: solid rgb(75, 255, 3);
  background-color: rgba(238, 233, 217, 0.966);
  font-size: 26px;
}
div:nth-of-type(4) :hover {
  border: solid rgb(0, 167, 245);
  background-color: rgba(238, 233, 217, 0.966);
}
div:nth-of-type(5) :hover {
  border: solid rgb(255, 5, 213);
  background-color: rgba(238, 233, 217, 0.966);
}

/* Estilizar o h3 */
div:nth-of-type(1) h3:nth-of-type(1) {
  color: rgb(154, 167, 100);
  font-style: oblique;
}
div:nth-of-type(2) h3:nth-of-type(1) {
  color: rgb(211, 130, 9);
}
div:nth-of-type(3) h3:nth-of-type(1) {
  color: rgb(209, 92, 121);
  font-style: oblique;
}
div:nth-of-type(4) h3:nth-of-type(1) {
  color: rgb(69, 167, 45);
}
div:nth-of-type(5) h3:nth-of-type(1) {
  color: rgb(180, 121, 248);
  font-style: oblique;
}
